<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Web that provide list of cafe and restaurant"
    />
    <meta name="keywords" content="Ziva Restaurant" />
    <meta name="theme-color" content="#008080" />
    <title>Restaurant Apps Starter Project</title>
  </head>

  <body>
    <a id="menu" class="header__menu">☰</a>
    <app-bar></app-bar>

    <header class="hero">
      <hero-custom class="hero__inner" />
    </header>

    <main>
      <h1 style="text-align: center">Catalog</h1>
      <div id="main-content"></div>
    </main>

    <footer>
      <footer-custom />
    </footer>
  </body>
</html>
